body {
    margin: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.page-container {
    min-height: 100vh;
    min-width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.page-container > .day-of-the-week-wrapper {
    flex-direction: row;
}